{% extends "layout/booktemplate.html" %}




{% block content %}

 <section id="features" class="features">
 <div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Your request was received,we will contact you as soon as possible,we been prepared driver for you. If you need more support,please contact us at satri@busercab.com. Thank you</h3>
      <br>
      <a href="https://api.whatsapp.com/send?phone=6287854923398" class="btn btn-primary">Call Us</a>
    </div>
  
  </div>
</div>
</section>


{% endblock %}