{% extends "layout/booktemplate.html" %}




{% block content %}
<ul id="social_side_links">
    <li><a href="https://api.whatsapp.com/send?phone=6287854923398"><img class="icon-float" src="https://png.icons8.com/color/50/000000/whatsapp.png" alt="" /></a></li>
  </ul>
<section id="features" class="features">
 <div class="container">
 <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Transfer Detail</h5>        
        <p class="card-text">Pickup : {{ book.pickup }}</p>
        <p class="card-text">Drop : {{ book.drop }}</p>   
        <p class="card-text">Car : {{ book.car }}</p> 
        <p class="card-text">Price : $ {{ book.price }}</p> 
        <p class="card-text">Username : {{ book.username }}</p> 
        <p class="card-text">Email : {{ book.email }}</p> 
        <p class="card-text">Phone : {{ book.phone }}</p> 
        <p class="card-text">Date : {{ book.date.strftime("%d-%B-%Y") }} / {{ book.hour}}</p>    
         <p class="card-text">Person : {{ book.detail }}</p>                    
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Payment Option</h5>       
        <h6>Credit Card</h6>
        <p>You will be charged for $ {{book.price}}</p>
        <a href="#!" class="paddle_button" data-product="535660" data-email="{{current_user.email}}" data-price="{{book.price}}" data-auth="{{md5}}">Pay Now!</a>
        <p>powered by <img src="https://p17.zdassets.com/hc/settings_assets/1561536/115000077629/w3Pc3DD9QGKYxcgrOxx3yA-logo.png" style="width: 100px;"></p>     
        <br>
        <br>
        <h6>Bank Transfer</h6>
        <p>BNI 0289579916 Agus Prayogi</p>       
      </div>
    </div>
  </div>
  </div>
</div>
</section>


{% endblock %}