{% extends "layout/booktemplate.html" %}




{% block content %}


<section id="features" class="features">
  <div class="container">        
    <div class="row d-flex align-items-center">
      <div class="image col-lg-6"><img src="/static/1.png" alt="..." class="img-fluid"></div>
        <div class="text col-lg-6">            
          <h4>Micro</h4>
          <p>For max 4 passanger</p>
          <a href="/charter/{{ pickup }}/micro" class="btn btn-primary btn-shadow btn-gradient">${{route.micro}}/hour</a>
      </div>
    </div>
    <div class="row d-flex align-items-center">
      <div class="image col-lg-6"><img src="/static/4.png" alt="..." class="img-fluid"></div>
        <div class="text col-lg-6">            
          <h4>Standard</h4>
          <p>For max 6 passanger</p>
          <a href="/charter/{{ pickup }}/standard" class="btn btn-primary btn-shadow btn-gradient">${{route.standard}}/hour</a>
        </div>
    </div>        
    <div class="row d-flex align-items-center">
      <div class="image col-lg-6"><img src="/static/3.png" alt="..." class="img-fluid"></div>
        <div class="text col-lg-6">            
          <h4>Executive</h4>
          <p>For max 6 passanger</p>
          <a href="/charter/{{ pickup }}/executive" class="btn btn-primary btn-shadow btn-gradient">${{route.executive}}/hour</a>
      </div>
    </div>
    <div class="row d-flex align-items-center">
      <div class="image col-lg-6"><img src="/static/2.png" alt="..." class="img-fluid"></div>
        <div class="text col-lg-6">            
          <h4>Minibus</h4>
          <p>For max 12 passanger</p>
          <a href="/charter/{{ pickup }}/minibus" class="btn btn-primary btn-shadow btn-gradient">${{route.minibus}}/hour</a>
        </div>
    </div>        
   </div>
</section>

{% endblock %}