{% extends "layout/booktemplate.html" %}




{% block content %}


<section id="features" class="features">
  <div class="container">        
    <div class="row d-flex align-items-center">
      <div class="image col-lg-6"><img src="/static/1.png" alt="..." class="img-fluid"></div>
        <div class="text col-lg-6">            
          <h4>Micro</h4>
          <p><img src="https://png.icons8.com/material-two-tone/50/000000/administrator-male.png"style="width: 30px;"> max 3 passanger</p>
          <p><img src="https://png.icons8.com/dotty/50/000000/briefcase.png" style="width: 30px;"> max 2 luggage</p>
          <a href="/charter/{{ pickup }}/micro/{{book.id}}" class="btn btn-primary btn-shadow btn-gradient">${{route.micro}}/hour</a>
      </div>
    </div>
    <div class="row d-flex align-items-center">
      <div class="image col-lg-6"><img src="/static/4.png" alt="..." class="img-fluid"></div>
        <div class="text col-lg-6">            
          <h4>Standard</h4>
          <p><img src="https://png.icons8.com/material-two-tone/50/000000/administrator-male.png"style="width: 30px;"> max 3 passanger</p>
          <p><img src="https://png.icons8.com/dotty/50/000000/briefcase.png" style="width: 30px;"> max 4 luggage</p>
          <a href="/charter/{{ pickup }}/standard/{{book.id}}" class="btn btn-primary btn-shadow btn-gradient">${{route.standard}}/hour</a>
        </div>
    </div>        
    <div class="row d-flex align-items-center">
      <div class="image col-lg-6"><img src="/static/3.png" alt="..." class="img-fluid"></div>
        <div class="text col-lg-6">            
          <h4>Executive</h4>
          <p><img src="https://png.icons8.com/material-two-tone/50/000000/administrator-male.png"style="width: 30px;"> max 4 passanger</p>
          <p><img src="https://png.icons8.com/dotty/50/000000/briefcase.png" style="width: 30px;"> max 4 luggage</p>
          <a href="/charter/{{ pickup }}/executive/{{book.id}}" class="btn btn-primary btn-shadow btn-gradient">${{route.executive}}/hour</a>
      </div>
    </div>
    <div class="row d-flex align-items-center">
      <div class="image col-lg-6"><img src="/static/2.png" alt="..." class="img-fluid"></div>
        <div class="text col-lg-6">            
          <h4>Minibus</h4>
          <p><img src="https://png.icons8.com/material-two-tone/50/000000/administrator-male.png"style="width: 30px;"> max 10 passanger</p>
          <p><img src="https://png.icons8.com/dotty/50/000000/briefcase.png" style="width: 30px;"> max 10 luggage</p>
          <a href="/charter/{{ pickup }}/minibus/{{book.id}}" class="btn btn-primary btn-shadow btn-gradient">${{route.minibus}}/hour</a>
        </div>
    </div>        
   </div>
</section>

{% endblock %}