{% extends "layout/dashboardtemplate.html" %}

{% block content %}
    
<div class="container">
  <div class="row">
  	<div class="col-md-12">	
  		<h3 class="text-center">Hi {{ current_user.username }}</h3>		
  	</div>	

	<div class="col-md-12">		
	<br>
	<br>
	
	<div class="row">

	  <div class="col-md-6 col-lg-4">
	    <div class="card">      
	      <div class="card-body text-center pt-1 pb-20">
	        <a href="#">
	        	<img class="avatar avatar-xxl" src="https://png.icons8.com/dusk/50/000000/car.png">
	          
	        </a>
	        <h5 class="mt-2 mb-0"><a class="hover-primary" href="/dashboard/admin/charter">Cab Charter</a></h5>
	        <br>
	        
	        <a href="/dashboard/admin/charter" class="btn btn-info">Visit</a>
	       
	      </div>	      
	    </div>
	  </div>   

	   <div class="col-md-6 col-lg-4">
	    <div class="card">      
	      <div class="card-body text-center pt-1 pb-20">
	        <a href="#">
	        	<img class="avatar avatar-xxl" src="https://png.icons8.com/dusk/50/000000/car.png">
	          
	        </a>
	        <h5 class="mt-2 mb-0"><a class="hover-primary" href="/dashboard/admin/cab">Cab Transfer</a></h5>
	        <br>
	        
	        <a href="/dashboard/admin/cab" class="btn btn-info">Visit</a>
	       
	      </div>	      
	    </div>
	  </div>   

	   <div class="col-md-6 col-lg-4">
	    <div class="card">      
	      <div class="card-body text-center pt-1 pb-20">
	        <a href="#">
	        	<img class="avatar avatar-xxl" src="https://png.icons8.com/dusk/50/000000/discount-ticket.png">
	          
	        </a>
	        <h5 class="mt-2 mb-0"><a class="hover-primary" href="/dashboard/admin/voucher">Voucher</a></h5>
	        <br>
	        
	        <a href="/dashboard/admin/voucher" class="btn btn-info">Visit</a>
	       
	      </div>	      
	    </div>
	  </div>   

	   <div class="col-md-6 col-lg-4">
	    <div class="card">      
	      <div class="card-body text-center pt-1 pb-20">
	        <a href="#">
	        	<img class="avatar avatar-xxl" src="https://png.icons8.com/dusk/50/000000/security-checked.png">
	          
	        </a>
	        <h5 class="mt-2 mb-0"><a class="hover-primary" href="/dashboard/admin/bodyguard">Bodyguard</a></h5>
	        <br>
	        
	        <a href="/dashboard/admin/bodyguard" class="btn btn-info">Visit</a>
	       
	      </div>	      
	    </div>
	  </div>   
	  <div class="col-md-6 col-lg-4">
	    <div class="card">      
	      <div class="card-body text-center pt-1 pb-20">
	        <a href="#">
	        	<img class="avatar avatar-xxl" src="https://png.icons8.com/dusk/50/000000/user.png">
	          
	        </a>
	        <h5 class="mt-2 mb-0"><a class="hover-primary" href="/dashboard/admin/driver">Driver</a></h5>
	        <br>
	        
	        <a href="/dashboard/admin/driver" class="btn btn-info">Visit</a>
	       
	      </div>	      
	    </div>
	  </div>   
	   <div class="col-md-6 col-lg-4">
	    <div class="card">      
	      <div class="card-body text-center pt-1 pb-20">
	        <a href="#">
	        	<img class="avatar avatar-xxl" src="https://png.icons8.com/dusk/50/000000/user.png">
	          
	        </a>
	        <h5 class="mt-2 mb-0"><a class="hover-primary" href="/dashboard/admin/agent">Travel Agent</a></h5>
	        <br>
	        
	        <a href="/dashboard/admin/agent" class="btn btn-info">Visit</a>
	       
	      </div>	      
	    </div>
	  </div>   







     </div> 
	</div>

			
	

</div>
</div>












{% endblock %}